{% load static %}
<nav class="nav">
    <div class="logo">
         <img src="{% static 'images/logo/logo (2).png' %}">
    </div>
    
    <div> 
        <a href="/risktest/">
            <i class="fas fa-file-word"></i>
            <span>
                    Take Test        
            </span>
        </a>
    </div>
    <div>
        <a href="/">
            <i class="far fa-address-card"> </i>
            <span>
                Log in
            </span>
        </a>
     </div>
     <div>
        <a href="/sign-up">
            <i class="fas fa-user-plus"></i>
            <span>
                Sign up
            </span>
        </a>
     </div>   
        
 </nav>