{% load static %}
<div class="nav">
     <div class="logo">
         <img src="{% static 'images/home/login_as_user_64px.png' %}">
    </div>
    <div class="nonlogo"> 
        <a href="{{ obj.get_absolute_url }}">
            <img src="{% static 'images/home/account_64px.png'%}">
        </a>
    </div>
    <div class="nonlogo">
        <a href="/products/{{ obj.get_username }}"> 
           <img src="{% static 'images/home/online_store_64px.png'%}">
        </a>
     </div>
     <div class="nonlogo">
        <a href="/sign-up">
            <img src="{% static 'images/home/accounting_64px.png'%}">
        </a>
     </div>   
        
</div>